.product {
    height: 30vh;
    width: 50vw;
    background-color: #D34735;
    margin: 10px;
    display: flex;
    padding-left: 50px;
    box-sizing: border-box;
    align-items: center;
}
.image {
    height: 150px;
    width: 150px;
}

.desc {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}
